<h1>@ViewBag.Title</h1>
   
@{
    ViewBag.Title = "Home";
}

<h2>View Jobs by:</h2>
<ul>
    @foreach (KeyValuePair<string, string> action in ViewBag.actions)
    {
        <li>
            <a asp-controller="@action.Key" asp-action="index">@action.Key</a>
        </li>
    }
</ul>